<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Table</title>
	<!-- CSS only -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
	<h1>Hello <span th:text="${nome}"></span></h1>
	<div class="box-body">

		<div class="box-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Titulo</th>
						<th scope="col">Carga Horaria</th>
						<th scope="col">Data inicio</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each=" Cursos : ${courseList} ">
						<td th:text="${Cursos.id}"></td>
						<td th:text="${Cursos.titulo}"></td>
						<td th:text="${Cursos.cargaHoraria}"></td>
						<td th:text="${Cursos.dataInicio}"></td>
					</tr>
				</tbody>
			</table>
		</div>

</body>

</html>